* {
  font-family: 'Nunito', sans-serif;
}

.brand-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand-img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
}

#brand-name {
  font-size: 15px;
  margin-top: 10px;
}

.fa-file-alt {
  margin-left: 15px;
}

/******************************* Main Cover Section *******************************/

#profile-pic {
  border: 1px solid white;
  border-radius: 100%;
  opacity: 0;
  height: 325px;
  width: 325px;
  background-image: url(../images/profile.jpg);
  background-size: cover;
  background-position: 20% 0%;
}

#introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  font-size: 3.5em;
  font-family: 'Nunito';
}

#slide-down-icon {
  background-color: transparent;
}

#slide-down-icon:hover {
  cursor: pointer;
}

.filler-row {
  margin-top: 2%;
  height: 80px;
  justify-content: center;
}

/******************************* Education *******************************/

#education-and-skills {
  background-color: whitesmoke;
  padding: 3%;
}

.language {
  margin: 5px;
  line-height: 100px;
  width: 105px;
  text-align: center;
  border-radius: 50%;
  font-weight: lighter;
}

.proficient {
  border: 3px solid darkgrey;
}

.familiar {
  border: 3px solid darkgrey;
}

.practiced {
  border: 3px solid darkgrey;
}

/******************************* Skills *******************************/

.skill-icon {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}
.java {
  background-color: skyblue;
}

.python {
  background-color: #daf0f3;
}

.html {
  background-color: #f7cecc;
}

.css {
  background-color: deepskyblue;
}

.sass {
  background-color: lightpink;
}

.react {
  background-color: aquamarine;
}

.redux {
  background-color: lavender;
}

.swift {
  background-color: orange;
}

.cplusplus {
  background-color: azure;
}

.javascript {
  background-color: lightgoldenrodyellow;
}

.jquery {
  background-color: lightcyan;
}

.node {
  background-color: white;
}

.express {
  background-color: #c1fca1;
}

.dynamodb {
  background-color: #77beea;
}

.lambda {
  background-color: #eee;
}

.mongodb {
  background-color: #e5e3e3;
}

.mongoose {
  background-color: #f0d3d5;
}

.bootstrap {
  background-color: lavender;
}

.sass {
  background-color: #f5dbdd;
}

.postgres {
  background-color: #ade0f6;
}

.sequelize {
  background-color: #c9f4eb;
}

.android-studios {
  background-color: darkseagreen;
}

.apache {
  background-color: snow;
}

.mysql {
  background-color: #d2e8f4;
}

.django {
  background-color: lightgreen;
}

.mocha {
  background-color: #dcc9a8;
}

.chai {
  background-color: #faf5ed;
}

.socketio {
  background-color: white;
}

/******************************* Experience *******************************/
#view-resume {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  border: 2px solid white;
  padding: 15px 25px;
}

#view-resume:hover {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 26px;
  cursor: pointer;
}

#view-resume:hover > #view-resume-text {
  font-size: 34px;
}

#view-resume-text {
  font-size: 30px;
  display: flex;
  align-items: center;
  color: white;
  transition: 0.3s;
}

#experience {
  background-color: azure;
  padding: 0px;
  padding-bottom: 40px;
}

#experience-header {
  margin-top: 40px;
}

.city-and-date-text {
  font-weight: lighter;
  font-style: italic;
}

/******************************* Portfolio *******************************/

#portfolio {
  background-color: aliceblue;
  padding: 3%;
  padding-bottom: 0px;
}

.project-img {
  width: 240px;
  height: 170px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.project-box {
  padding: 0px 20px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  width: 1200px;
  margin: 30px 0px;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 1px 3px lightgrey;
  transition: 0.3s;
}

.project-card:hover {
  box-shadow: 0px 2px 5px grey;
}

.project-images {
  height: 450px;
  width: 70%;
  box-shadow: 0px 5px 8px lightgrey;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.project-carousel-image {
  width: 100% !important;
  height: 450px;
}

.project-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  padding-left: 50px;
}

.project-title {
}

.project-text {
  color: #78777d;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 7px 10px;
  font-weight: 500;
  margin: 5px 10px 5px 0px;
  border: 1px solid black;
  border-radius: 3px;
}

.project-redirect {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 5px;
  margin-top: 20px;
  transition: 0.3s;
  border-radius: 5px;
}

.project-redirect:hover {
  cursor: pointer;
  color: #317cf6;
}

.project-redirect-icon {
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.fa-arrow-right {
  padding-left: 10px;
}

/******************************* FOOTER *******************************/

#footer {
  background-color: #333333;
  height: 60px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: flex-end;
}
#footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  font-weight: bold;
  font-size: 16px;
}

#footer-left > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

#footer-right > span {
  margin: 0px 20px;
  font-size: 20px;
}

#intro-contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

#intro-contacts > .contact > i {
  font-size: 40px;
}

.contact {
  margin: 0px 20px;
  transition: 0.3s;
  color: white;
}

.contact:hover {
  color: #317cf6;
  cursor: pointer;
}

.contact > i {
  margin: 0px 10px;
  font-size: 26px;
  color: ;
}

/* End of Page */

#end {
  height: 60px;
}

#slide-up-icon {
  margin-top: 50%;
  background-color: transparent;
}

#slide-up-icon:hover {
  cursor: pointer;
}

.end-text {
  margin-top: 5%;
  font-size: 1.5em;
  color: white;
}

/******************************* Bootstrap 4 Classes *******************************/

.nav-item {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin-top: 5px;
  font-size: 20px;
  margin-right: 25px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.navbar-brand {
  padding-bottom: 0px;
  font-size: 20px;
  line-height: 16px;
}

.navbar {
  display: none;
  height: 65px;
  background-color: rgba(247, 247, 249, 1);
  box-shadow: 0 6px 4px -4px #999;
}

.card {
  margin: 25px 10px 25px 10px;
  height: auto;
  background-color: #eff7f7;
  border: 1px solid grey;
  padding: 20px;
}

.card:hover {
  cursor: pointer;
  background-color: #d6e1e6;
}

.active {
}
/******************************* Font Awesome *******************************/

.icon-white {
  color: white;
}

/******************************* Helper Classes *******************************/
.center-element {
  display: table;
  margin: auto;
}

.divider {
  border-top: 2px solid black;
  margin: 15px 0px 15px 0px;
  opacity: 0.5;
}

.header-text {
  color: black;
  font-weight: lighter;
  font-size: 2em;
}

.sub-header-text {
  font-size: 1.5em;
  font-weight: bold;
}

#fade-frameworks > div > span,
#fade-knowledge > div > span {
  font-size: 18px;
}

.sub-header-text-2 {
  font-size: 0.7em;
  font-weight: lighter;
}

.sub-header-text-3 {
  font-size: 0.9em;
}

.description-text {
  font-size: 1em;
  margin: 10px 50px 10px 50px;
}

.double-space {
  margin: 10px 0px 5px 0px;
}

.auto-width-height {
  width: auto;
  height: auto;
  padding: 5px 0px;
  margin: 5px;
}

.opacity-zero {
  opacity: 0;
}

body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;

  background-color: #333333;
}

.parallax {
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-resume {
  background-image: url(../images/computer-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************* Media Queries *******************************/

@media (max-width: 991px) {
  #dropdown-menu {
    background-color: rgba(247, 247, 249, 0.8);
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 550px) {
  .parallax {
    background-image: url(../images/background-mobile.jpg);
  }
}
